html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF2B4;
  font-family: 'assistant';
  color: #073799;
  direction: rtl;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app {
  display: flex;
  justify-content: center;
  text-align: center;
  direction: rtl;
  width: 100%;
  height: 100%;
  background-color: #FFF2B4;
  font-family: 'assistant';
  color: #073799;
  overflow: hidden;
  position: relative;
}
.bahad6 {
  height: 5rem;
}

.til {
  height: 5rem;
}

.symbols {
  position: absolute;
  z-index: 4;
  top: 0.5rem;
  left: 0.5rem;
}

.about-btn {
  border: none;
  color: #FEECD8;
  font-size: 2rem;
  background-color: #073799;
  border-radius: 150px;
  width: 3.5rem;
  height: 3.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  transition: transform 0.25s ease;
  cursor: pointer;
  padding: 0;
}

.aboutBtnContainer {
  position: absolute;
  left: 10rem;
  top: 0.5rem;
  text-align: center;
  font-family: "assistant-bold";
  color: #073799;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.about-btn:hover {
  transform: scale(1.15);
}

.about-btn:focus {
  outline: none;
}

.div-about {
  position: absolute;
  color: #FFF2B4;
  width: 15rem;
  height: 27rem;
  left: 4rem;
  top: 6rem;
  font-family: "assistant";
  background: #073799;
  border-radius: 1rem;
  box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: opacity 0.4s ease;
  z-index: 2;
}

.list-text-about {
  transition: background-color 0.5s ease;
  margin: 5%;
}

.list-text-about:hover {
  background-color: #dbdbdb;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
  max-height: 500px;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
}

.batashSymbol {
  width: 17rem;
  position: absolute;
  top: 2rem;
  right:4rem;
  z-index: 4;
}

.title {
  font-family: "rubik-black";
  color: #E69907;
  position: absolute;
  top: 8rem;
  font-size: 3rem;
  z-index: 4;
}

@media (max-width: 1250px) {
  .batashSymbol {
    width: 13rem;
    position: absolute;
    top: 1rem;
    right:2rem;
    z-index: 4;
  }
  
}
@media (max-height: 1050px) {
  .title {
    top: 5rem;

  }  
  
}


@font-face {
  font-family: rubik;
  src: url('/src/assets/fonts/Rubik/Rubik-Bold.ttf');
}

@font-face {
  font-family: rubik-black;
  src: url('/src/assets/fonts/Rubik/Rubik-Black.ttf');
}

@font-face {
  font-family: assistant;
  src: url('/src/assets/fonts/Assistant/Assistant-Regular.ttf');
}

@font-face {
  font-family: assistant-bold;
  src: url('/src/assets/fonts/Assistant/Assistant-Bold.ttf');
}

@font-face {
  font-family: assistant-semiBold;
  src: url('/src/assets/fonts/Assistant/Assistant-SemiBold.ttf');
}

@font-face {
  font-family: assistant-extraBold;
  src: url('/src/assets/fonts/Assistant/Assistant-ExtraBold.ttf');
}

